<h3>New Vehicle</h3>

<%= render "form.html", Map.put(assigns, :action, Routes.vehicle_path(@conn, :create)) %>

<span><%= link "Back to Listings", class: "btn-large waves-effect waves-light blue", to: Routes.vehicle_path(@conn, :index) %></span>
